header,
nav,
section,
article,
aside,
footer,
figure,
menu{
    display: block;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
p,
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
button {
    padding: 0;
    margin: 0;
    border: none;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    display: block;
}
a {
    text-decoration: none;
}
input,
textarea {
    outline: none;
}
input:focus {
    outline: none;
}
abbr,
acronym,
fieldset,
img,
hr {
    border: none;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol,
ul {
    list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,
q:after {
    content: '';
}
