meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title document
script(src="https://use.fontawesome.com/9aee0c265f.js")
link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
style
	
<!--[if lte IE 7]>
	link(rel="stylesheet" href="css/ie-crutch.css")
	script(src="js-crutch.js")
<![endif]-->
